<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <div id="notes" class="azureBlueBackground azureBlueBorderThin">
          {{input valueBinding="newNoteName" action="createNewNote" }}
          <button class="btn btn-default btn-xs" {{action "createNewNote"}}>New Note</button>
          <div class="list-group" style="margin-top: 10px;">
            {{#each controller}}
            <div class="list-group-item">
              {{name}}
            </div>
           {{/each}}
          </div>
       </div>
    </div>
  </div>
</div>

